{% extends "base.html" %}
{% block header %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

{% block content %}

<div> <label style="display: inline-block; min-width:100px"> Select DCS file :</label>
    <select name="data_file" id="data_file">
        {%for ff in file_list%}
        <option value="{{ff}}">{{ff}}</option>
        {%endfor%}
    </select>
</div>
<div> <label style="display: inline-block; min-width:100px"> Starting time :</label> {{start_block|safe}}</div>
<div> <label style="display: inline-block; min-width:100px"> Stopping time :</label> {{stop_block|safe}}</div>
<div> Number of points : </label><input id="N_points" value="1000"/><label>Auto-refresh</label>  <input type="checkbox" id="auto_refresh" checked="checked"/> <label id="last_refresh"></label> </div>
<button id="generate_graph" onclick="get_graph()">Get graph</button>
<button onclick="get_graph(0.50)">Last 30m</button><button onclick="get_graph(2)">Last 2h</button><button onclick="get_graph(6)">Last 6h</button><button onclick="get_graph(12)">Last 12h</button><button onclick="get_graph(24)">Last 24h</button>
<div id="plot_lv_v"></div>
<div id="plot_lv_i"></div>
<div id="plot_hv_v"></div>
<div id="plot_hv_i"></div>

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{url_for('static',filename='plots_psu.js')}}"></script>
{% endblock %}
