{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}
<button type="button" id="refresh">Refresh values</button> <input type="checkbox" id="auto_refresh"></input> Auto-refresh <button type="button" id="restart">Restart service</button>

<br/><br/>
<h1> PSU control interface page </h1>
<br/>
<h2>Channel 1</h2>
<div style="font-size:large;">
<div style="display:block"><label style="width:150px; float: left;">Status</label>      <label style="width:150px; float: left;"><label id="1_status"></label></label> <button type="button" id="1_change_status">Placeholder</button></div>
<div style="display:block"><label style="width:150px; float: left;">Set  voltage</label><label style="width:150px; float: left;"><label id="1_set_v"></label></label> <input type="number" step="0.001" id="1_voltage_select"></input> <button type="button" id="1_change_voltage">Set</button></div>
<div style="display:block"><label style="width:150px; float: left;">Read voltage</label><label style="width:150px; float: left;"><label id="1_mon_v"></label></label> <br/></div>
<div style="display:block"><label style="width:150px; float: left;">Read current</label><label style="width:150px; float: left;"><label id="1_mon_i"></label></label><br/></div>
</div>
<br/>
<h2>Channel 2</h2>
<div style="font-size:large;">
<div style="display:block"><label style="width:150px; float: left;">Status</label>      <label style="width:150px; float: left;"><label id="2_status"></label></label> <button type="button" id="2_change_status">Placeholder</button></div>
<div style="display:block"><label style="width:150px; float: left;">Set  voltage</label><label style="width:150px; float: left;"><label id="2_set_v"></label></label> <input type="number" step="0.001" id="2_voltage_select"></input> <button type="button" id="2_change_voltage">Set</button></div>
<div style="display:block"><label style="width:150px; float: left;">Read voltage</label><label style="width:150px; float: left;"><label id="2_mon_v"></label></label> <br/></div>
<div style="display:block"><label style="width:150px; float: left;">Read current</label><label style="width:150px; float: left;"><label id="2_mon_i"></label></label><br/></div>
</div>
<br/>
<h2>Channel 3</h2>
<div style="font-size:large;">
<div style="display:block"><label style="width:150px; float: left;">Status</label>      <label style="width:150px; float: left;"><label id="3_status"></label></label> <button type="button" id="3_change_status">Placeholder</button></div>
<div style="display:block"><label style="width:150px; float: left;">Set  voltage</label><label style="width:150px; float: left;"><label id="3_set_v"></label></label> <input type="number" step="0.001" id="3_voltage_select"></input> <button type="button" id="3_change_voltage">Set</button></div>
<div style="display:block"><label style="width:150px; float: left;">Read voltage</label><label style="width:150px; float: left;"><label id="3_mon_v"></label></label> <br/></div>
<div style="display:block"><label style="width:150px; float: left;">Read current</label><label style="width:150px; float: left;"><label id="3_mon_i"></label></label><br/></div>
</div>
<br/>
<h1 style="color:red"> HV control </h1>
<div style="font-size:large;">
<div style="display:block"><label style="width:150px; float: left;">Status</label>      <label style="width:150px; float: left;"><label id="hv_status"></label></label> <button type="button" id="hv_change_status">Placeholder</button></div>
<div id="hv_status_line" style="display:block"><label style="width:150px; float: left;"> &nbsp; </label><label style="color:green" id="hv_ramp"></label><label id="hv_error" style="color:red"></label></label></div>
<div style="display:block"><label style="width:150px; float: left;">Set  voltage</label><label style="width:150px; float: left;"><label id="hv_set_v"></label></label> <input type="number" step="0.001" id="hv_voltage_select"></input> <button type="button" id="hv_change_voltage">Set</button></div>
<div style="display:block"><label style="width:150px; float: left;">Read voltage</label><label style="width:150px; float: left;"><label id="hv_mon_v"></label></label> <br/></div>
<div style="display:block"><label style="width:150px; float: left;">Read current</label><label style="width:150px; float: left;"><label id="hv_mon_i"></label></label><br/></div>
</div>
    

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{url_for('static',filename='psu_control.js')}}"></script>
{% endblock %}
